<div class="pre-window" #preWindow>
  <div class="window">
    <i class="fa fa-plus-circle fa-1x" (click)="newCard()" aria-hidden="true"></i>
    <div class="flex-container" #dropzone>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="add-horizontal">
      <b (click)="newWindow('horizontal')">+</b>
      <input [(ngModel)]="numCardsNextWindow" />
    </div>
    <div class="add-vertical">
      <b (click)="newWindow('vertical')">+</b>
      <input [(ngModel)]="numCardsNextWindow" />
    </div>
  </div>
</div>