.pre-window{
    left: 0;
    top: 0;
    position: absolute;
    width: 37px;
    border: 1px solid #c3c3f3;

    input {
            height: 10px;
            width: 10px;
            left: 15px;
            display: none;
    }

    .window{
        width: 100%;
        height: auto;
        display: flex;

        i {
            display: none;
            position: absolute;
            z-index: 1;
        }

        &:hover {
            i {
                display: block;
            }
        }


        .flex-container {
            width: 37px;
            display: -webkit-flex;
            display: flex;
            background-color: lightgrey;
            flex-wrap: wrap;
            border: 1px solid #cccccc;
        }

        .add-horizontal {
            display: none;
            position: absolute;
            z-index: 1;
            right: 0;
            width: 10px;
            height: 100%;
            align-self: center;
            cursor: pointer;
            box-shadow: 1px 1px 1px #cccccc;
            background: rgba(245, 243,123,0.8);
            &:hover {
                input {
                    display: block;
                }
            }
        }
        
        .add-vertical {
            display: none;
            position: absolute;
            z-index: 1;
            bottom: 0;
            width: 100%;
            height: 10px;
            cursor: pointer;
            box-shadow: 1px 1px 1px #cccccc;
            background: rgba(245, 243,123,0.8);
            &:hover {
                input {
                    display: block;
                }
            }
        }

        &:hover {
            .add-horizontal, .add-vertical {
                display: block
            }
        }
    }
     .add-vertical {
            flex: 1 1 auto;
            cursor: pointer;
            align-self: center;
            box-shadow: 1px 1px 1px #cccccc;

             &:hover {
                input {
                    display: block;
                }
            }
    }
}
