.card {
    width: 30px;
    height: 30px;
    background-color: #c54254;
    margin: 2px;
    cursor: pointer;
    text-align: center;
    h1 {
        margin: 0;
        font-size: 28px;
    }
}
.dragging {
    z-index: 2;
    background-color: #c89254;
}